## List of Libraries to be used

In [1]:
import pandas as pd
import os
from copy import deepcopy
import time

#### Movie Titles Information

In [2]:
movies = pd.read_csv('/Users/bhargavdevarapalli/Documents/Brain_Station_Final_Project/DATA/movie_titles.csv',
                      names = ['Id', 'Year', 'Name']
                      ,encoding='ISO-8859-1',on_bad_lines='skip')

#### Loading Data from the txt files

In [3]:
files = ['combined_data_1.txt','combined_data_2.txt','combined_data_3.txt','combined_data_4.txt']

In [4]:
## Sample Structure 

"""
1:
1488844,3,2005-09-06
822109,5,2005-05-13
885013,4,2005-10-19
30878,4,2005-12-26
823519,3,2004-05-03
893988,3,2005-11-17

"""

'\n1:\n1488844,3,2005-09-06\n822109,5,2005-05-13\n885013,4,2005-10-19\n30878,4,2005-12-26\n823519,3,2004-05-03\n893988,3,2005-11-17\n\n'

In [5]:
def file_process(file):
    
    
    path =  '/Users/bhargavdevarapalli/Documents/Brain_Station_Final_Project/DATA' + '/' + file
    
    staging = []
    
    with open(path, 'r') as file:
        id_value = ''
        for line in file:
            line = line.strip()
            
            
            if(line[-1] ==  ':'  ) :
                
                
                id_value = int(line[:-1])
            else:
                
                arr = line.split(',')
                
                MOVIE_ID = id_value
                USER_ID = int(arr[0])
                RATING = int(arr[1])
                DATE =  arr[2]
                YEAR =  arr[2] [:4]
                
                staging.append( deepcopy({'MOVIE_ID' : MOVIE_ID , 'USER_ID' : USER_ID , 'RATING' : RATING ,'DATE' : DATE , 'YEAR' : YEAR }))
    return staging

In [6]:
%%time

tem1 =  file_process('combined_data_1.txt')
#tem2 =  file_process('combined_data_2.txt')
#tem3 =  file_process('combined_data_3.txt')
#tem4 =  file_process('combined_data_4.txt')

CPU times: user 43.1 s, sys: 927 ms, total: 44.1 s
Wall time: 44.6 s

#### Converting into Dataframes

In [7]:
%%time

df1 = pd.DataFrame(tem1)
#df2 = pd.DataFrame(tem2)
#df3 = pd.DataFrame(tem3)
#df4 = pd.DataFrame(tem4)

CPU times: user 9.01 s, sys: 17.4 s, total: 26.4 s
Wall time: 3min 2s

In [8]:
#combined_df = pd.concat(df1,df2,df3,df4)
#df1.to_parquet('dataframe.parquet')

In [9]:
df1.head(10)

   MOVIE_ID  USER_ID  RATING        DATE  YEAR
0         1  1488844       3  2005-09-06  2005
1         1   822109       5  2005-05-13  2005
2         1   885013       4  2005-10-19  2005
3         1    30878       4  2005-12-26  2005
4         1   823519       3  2004-05-03  2004
5         1   893988       3  2005-11-17  2005
6         1   124105       4  2004-08-05  2004
7         1  1248029       3  2004-04-22  2004
8         1  1842128       4  2004-05-09  2004
9         1  2238063       3  2005-05-11  2005

#### Converting into a Parquet File

In [10]:
%%time
df1.to_parquet('dataframe.parquet')